In [5]:
!pip install -q --upgrade kagglehub

In [1]:
import kagglehub

path = kagglehub.dataset_download("mexwell/telecom-shanghai-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mexwell/telecom-shanghai-dataset?dataset_version_number=1...

100%|██████████| 219M/219M [03:41<00:00, 1.04MB/s]

Extracting files...

Path to dataset files: C:\Users\Admin\.cache\kagglehub\datasets\mexwell\telecom-shanghai-dataset\versions\1

In [1]:
import pandas as pd

data = pd.read_excel("./telecom-shanghai-dataset/data_6.16.15.xlsx")

data.head()

,month,date,start time,end time,latitude,longitude,user id
0,201406,1,2014-06-01 10:22:36,2014-06-01 11:09:52,31.237872,121.470259,edbc54bddf16494a49f39ac057b4185d
1,201406,1,2014-06-01 07:00:37,2014-06-01 08:49:20,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
2,201406,1,2014-06-01 02:49:16,2014-06-01 05:49:12,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
3,201406,1,2014-06-01 08:51:58,2014-06-01 09:20:50,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee
4,201406,1,2014-05-31 23:49:10,2014-06-01 02:49:07,31.237872,121.470259,f8206ab58b9bdb070673f7050242e9ee

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611506 entries, 0 to 611505
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   month       611506 non-null  int64
 1   date        611506 non-null  int64
 2   start time  611506 non-null  datetime64[ns]
 3   end time    611506 non-null  datetime64[ns]
 4   latitude    563914 non-null  float64
 5   longitude   563914 non-null  float64
 6   user id     611506 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(2), object(1)
memory usage: 32.7+ MB

In [3]:
data.drop(columns=["month"], inplace=True)
data.drop(columns=["date"], inplace=True)
data.drop(columns=["start time"], inplace=True)
data.drop(columns=["end time"], inplace=True)
data.drop(columns=["user id"], inplace=True)

In [4]:
data.head()

    latitude   longitude
0  31.237872  121.470259
1  31.237872  121.470259
2  31.237872  121.470259
3  31.237872  121.470259
4  31.237872  121.470259

In [5]:
data = data.dropna(subset=['latitude', 'longitude'])

In [6]:
data.head()

    latitude   longitude
0  31.237872  121.470259
1  31.237872  121.470259
2  31.237872  121.470259
3  31.237872  121.470259
4  31.237872  121.470259

In [7]:
data.to_excel("./output_data.xlsx", index=False)

In [11]:
data.latitude

0         31.237872
1         31.237872
2         31.237872
3         31.237872
4         31.237872
            ...
609397    31.125764
609398    31.125764
609399    31.125764
609400    31.125764
609401    31.087196
Name: latitude, Length: 563914, dtype: float64

In [9]:
data.longitude

0         121.470259
1         121.470259
2         121.470259
3         121.470259
4         121.470259
             ...
609397    121.562057
609398    121.562057
609399    121.562057
609400    121.562057
609401    121.505435
Name: longitude, Length: 563914, dtype: float64